* {
  margin: 0px;
  padding: 0px;
}

 body {
  background: linear-gradient(135deg, #4f46e5, #9333ea);
  display: flex;
} 

.card {
  width: 800px;
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  text-align: left;
  animation:  0.5s ease;
} 


.container{
  height: 100vh;
  width: 100%;
}